/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Noto+Serif+Display:ital,wght@0,100;0,300;1,100&family=Noto+Serif:wght@800&family=Roboto+Mono:ital,wght@1,300&family=Titillium+Web&display=swap');

/* Resetting default margin and including padding and border in element's total width and height */
* {
    margin: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #1F1C2C;
    color: #B2B2B2;
}

/* Links styling */
a {
    text-decoration: none;
    color: #E6ECFD;
    font-size: 1.5vw;
}

/* Navigation styling */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vw;
    background-color: #2A243B;
}

/* Page title styling */
.pagetitle {
    color: #BBCCE2;
    font-size: 2.5vw;
}

/* Menu icon styling */
.menu-icon {
    display: none;
    font-size: 2vw;
    cursor: pointer;
}

/* Links within navigation styling */
.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links a {
    text-align: center;
    padding: 1vw 2vw;
}

/* Responsive styling for smaller screens */
@media screen and (max-width: 600px) {
    .menu-icon {
        display: block;
    }

    .links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 6.5vw;
        left: 0;
        right: 0;
        background-color: #2A243B;
        text-align: center;
    }

    .links a {
        padding: 1.5vw 2vw;
        border-bottom: 1px solid #6D6870;
    }

    .links a:last-child {
        border-bottom: none;
    }

    .links.active {
        display: flex;
    }

    nav:hover .pagetitle {
        background-color: #222B38;
    }
}

/* Video styling */
.vid {
    width: 100vw;
    height: 56.25vw;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

/* Container styling */
.container {
    position: relative;
}

/* Banner styling */
.banner {
    height: 56.25vw;
    background-color: rgba(17, 3, 59, 0.548);
    z-index: 9;
}

/* Banner head styling */
.bannerhead {
    text-align: left;
    padding-top: 3vw;
    font-family: 'Merriweather', serif;
    color: #ABB1FF;
    font-size: 3.5vw;
    text-align: center;
}

/* Article styling */
article {
    padding-top: 1vw;
    color: #AFB5FF;
    margin-left: 56.25vw;
    font-size: 1.5vw;
    font-family: 'Roboto Mono', monospace;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 2vw;
    background-color: #2A243B;
}

/* Social media icons styling */
.icons {
    display: flex;
    justify-content: center;
}

.icon {
    width: 4vw;
    height: 4vw;
    margin: 0 1vw;
}

/* YouTube icon styling */
#yt {
    background: url('Icon/sprite3.png') no-repeat -439px -221px;
	width: 66px;
	height: 66px;
}

/* Twitter icon styling */
#twitter {
    background: url('Icon/sprite3.png') no-repeat -66px -72px;
	width: 67px;
	height: 66px;
}

/* Facebook icon styling */
#fb {
    background: url('Icon/sprite3.png') no-repeat -439px -146px;
	width: 66px;
	height: 66px;
}

/* SoundCloud icon styling */
#soundcloud {
    background: url('Icon/sprite3.png') no-repeat -587px -72px;
	width: 66px;
	height: 66px;
}