@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Noto+Serif+Display:ital,wght@0,100;0,300;1,100&family=Noto+Serif:wght@800&family=Roboto+Mono:ital,wght@1,300&family=Titillium+Web&display=swap');
*{
    margin: 0;
}
a{
    text-decoration: none;
    color: rgb(230, 236, 253);
    font-size: 1.5vw;
}
nav {
    display: flex;
    justify-content: space-around ;
    padding-bottom: 5vw;
    padding-top: 4vw;
    background-color: rgb(42, 36, 59);
    color: rgb(11, 2, 34);
}
.links a{
   margin-left: 6vw;

}

.pagetitle{
    color: rgb(188, 204, 226);
    ;
    font-size: 2vw;
    margin-right: 0%;
}
@media screen and ( max-width: 600px )
{
    nav{
        font-family: 'Titillium Web', sans-serif;
        position: relative;
        font-size: larger;
    }
    .pagetitle{
        padding: 2vw;
        color: rgb(82, 148, 138);
        
    }
    .links{
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: rgb(121, 116, 150);
        z-index: 1;
        background-color: rgb(51, 29, 63)
        
    }
    .links a{
        color: rgb(0, 0, 0);
        padding: 24px 32px;
        display: block;
    }
    .links a:hover{background-color: rgb(109, 104, 112)}
    nav:hover .links{display: block;}
    nav:hover .pagetitle{background-color:rgb(34, 43, 56);}

}
.vid{
 width: 100vw;
 height: 66.6vw;
 object-fit: cover;
 position: absolute;
 z-index: -1;
 top: 0;
 left: 0;
}
.container
{
  position: relative;
}
.banner{
    height: 66.6;
    background-color: rgba(17, 3, 59, 0.548);
    z-index: 9;
}
.bannerhead{
   text-align: left;
   padding-top: 10vw;
   font-family: 'Merriweather', serif;
   color: rgb(171, 177, 255);
font-size: 6vw;
text-align: center;

}
article{
    padding-top: 1vw;
    color: rgb(175, 181, 255);
    margin-left: 66.6vw;  
    font-size: 2vw;
    font-family: 'Roboto Mono', monospace;
}

#yt{
    background: url('Icon/sprite3.png') no-repeat -439px -221px;
	width: 66px;
	height: 66px;
}
#twitter{
    background: url('Icon/sprite3.png') no-repeat -66px -72px;
	width: 67px;
	height: 66px;
}
#fb{
    background: url('Icon/') no-repeat -439px -146px;
	width: 66px;
	height: 66px;
}
#soundcloud{
    background: url('Icon/') no-repeat -587px -72px;
	width: 66px;
	height: 66px;
}
